{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Selamat Datang
{% endblock %}

{% block content %}

Selamat datang dalam eksperimen ekonomi dalam pengambilan keputusan. Anda akan menyimak instruksi permainan ini pada
halaman berikutnya.
<br>
<br>
Jumlah uang yang Anda akan terima pada permainan ini akan bergantung pada keputusan yang Anda buat dan parameter-parameter
di dalam eksperimen. Keputusan pemain lain tidak akan berpengaruh pada poin Anda.
<br>
<br>
Tekan tombol 'lanjut' jika Anda sudah siap.
<br>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}
