{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Perhatian!
{% endblock %}

{% block content %}

<div class="alert alert-warning">
  <strong>Perhatian!</strong> Sesi latihan telah usai. Anda akan mulai masuk ke permainan riil di ronde berikutnya. Segala
    keputusan Anda akan berpengaruh pada pendapatan Anda dari eksperimen ini.
</div>

<br>Tekan tombol 'lanjut' jika Anda sudah memahami instruksi di atas.
<br>
<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">Lanjut</button>

{% endblock %}
