{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Ronde
{% endblock %}

{% block content %}

    Anda memiliki XXX token yang dapat Anda alokasikan untuk 5 alternatif di bawah ini. Anda bebas mengalokasikan berapapun token yang
Anda miliki. Anda tidak akan mendapatkan poin dari token yang tidak Anda alokasikan.
    <br>
    <br>
    <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
  overflow:hidden;padding:11px 18px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
  font-weight:normal;overflow:hidden;padding:11px 18px;word-break:normal;}
.tg .tg-wo29{border-color:#c0c0c0;text-align:left;vertical-align:top}
</style>
    <table class="tg" style="undefined;table-layout: fixed; width: 869px">
<colgroup>
<col style="width: 662px">
<col style="width: 207px">
</colgroup>
<thead>
  <tr>
    <th class="tg-wo29"><span style="font-weight:bold">Alternatif 1: </span><br>     {% if prob_A_1 == 1 %}<br>     Mendapat {{gain_A_1}} dengan pasti <br>     {% else %}<br>     Mendapat {{gain_A_1}} dengan probabilitas {{prob_A_1}}  <span style="font-style:italic">atau </span>Mendapat {{gain_B_1}} dengan   probabilitas {{prob_B_1}}<br>     {% endif %}</th>
    <th class="tg-wo29">Alokasi: {{ form.Lotere_A }}</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-wo29"><span style="font-weight:bold">Alternatif 2: </span><br>     {% if prob_A_2 == 1 %}<br>     Mendapat {{gain_A_2}} dengan pasti <br>     {% else %}<br>     Mendapat {{gain_A_2}} dengan probabilitas {{prob_A_2}}  <span style="font-style:italic">atau </span>Mendapat {{gain_B_2}} dengan   probabilitas {{prob_B_2}}<br>     {% endif %}</td>
    <td class="tg-wo29">Alokasi: {{ form.Lotere_B }}</td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:bold">Alternatif 3: </span><br>     {% if prob_A_3 == 1 %}<br>     Mendapat {{gain_A_3}} dengan pasti <br>     {% else %}<br>     Mendapat {{gain_A_3}} dengan probabilitas {{prob_A_3}}  <span style="font-style:italic">atau </span>Mendapat {{gain_B_3}} dengan   probabilitas {{prob_B_3}}<br>     {% endif %}</td>
    <td class="tg-wo29">Alokasi: {{ form.Lotere_C }}</td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:bold">Alternatif 4: </span><br>     {% if prob_A_4 == 1 %}<br>     Mendapat {{gain_A_4}} dengan pasti <br>     {% else %}<br>     Mendapat {{gain_A_4}} dengan probabilitas {{prob_A_4}}  <span style="font-style:italic">atau </span>Mendapat {{gain_B_4}} dengan   probabilitas {{prob_B_4}}<br>     {% endif %}</td>
    <td class="tg-wo29">Alokasi: {{ form.Lotere_D }}</td>
  </tr>
  <tr>
    <td class="tg-wo29"><span style="font-weight:bold">Alternatif 5: </span><br>     {% if prob_A_5 == 1 %}<br>     Mendapat {{gain_A_5}} dengan pasti <br>     {% else %}<br>     Mendapat {{gain_A_5}} dengan probabilitas {{prob_A_5}}  <span style="font-style:italic">atau </span>Mendapat {{gain_B_5}} dengan   probabilitas {{prob_B_5}}<br>     {% endif %}</td>
    <td class="tg-wo29">Alokasi: {{ form.Lotere_E }}</td>
  </tr>
</tbody>
</table>
    <br>Tekan tombol 'Tukar' jika sudah yakin dengan pilihan Anda.
    <br>
    <br>
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Tukar</button>

{% endblock %}
